* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#movie-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    
}

#movie-container h2 {
    font-size: 2em;;
    color: #333;
    margin-bottom: 15px;
}

#movie-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

#movie-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

#movie-container .btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5em;
}

#movie-container .btn:hover {
    background-color: #2980b9;
}



.no-results {
    text-align: center;
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 20px;
}

.no-results p {
    color: #721c24;
    font-size: 18px;
}

.no-results button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.no-results button:hover {
    background-color: #0056b3;
}



.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #new-search-btn {
    margin-top: 10px;
  }
  

  
  #surprise-me-again-btn,
  #resetme-btn {
      display: inline-block;
      visibility: visible; 
      opacity: 1;           
  }
  